.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        height: 100px;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
        overflow: hidden !important;
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;

}
.middleText
{
    font-family: 'Marck Script', cursive;
    font-size: 14px;
}
.contentButton  
{
    background-color:#D1B641;
    padding: 7px 16px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.form-control
{
    border-radius: 0px !important;
    background-color: #F1F1F1 !important;
    border:none;
}
#signUpButton
{
    background-color: #5EB861 !important;
}
.modal-dialog 
{
    width:30% !important;
    line-height: 150% !important;
}
.modal-content
{
    border-radius: 0px !important;
    border: none !important;
}
.modal-header
{
    border-bottom:1.5px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}
.close
{
    font-size: 38px;
}
label
{
    font-family: Segoe UI;
    color: #000;
}
.modal-title
{
    font-family: Segoe UI;
    color: #000;
}
.signUpLink
{
    color : rgb(61,61,219) !important;
}
.text-center
{
    color: #000;
}
