/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.headerButton
{
    background-color: blue;
    color: white;
    padding: 7px 20px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
#pageTitle
{
    font-family: 'Satisfy', cursive;
    color: #271ABE;
    font-size: 40px;
}
.middleText
{
    font-family: 'Marck Script', cursive;
    font-size: 14px;
}
