.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    text-align: justify;
    text-justify: inter-word;
}
#blogTitleNew{
    display:flex;
    justify-content: center;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
/* .middleText
{
    font-family: 'Marck Script', cursive;
    font-size: 14px;
}
.contentButton  
{
    background-color:#D1B641;
    padding: 7px 16px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.form-control
{
    border-radius: 0px !important;
    background-color: #F1F1F1 !important;
    border:none;
}
#signUpButton
{
    background-color: #5EB861 !important;
}
.modal-dialog 
{
    width:30% !important;
    line-height: 150% !important;
}
.modal-content
{
    border-radius: 0px !important;
    border: none !important;
}
.modal-header
{
    border-bottom:1.5px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}
.close
{
    font-size: 38px;
}
label
{
    font-family: Segoe UI;
    color: #000;
}
.modal-title
{
    font-family: Segoe UI;
    color: #000;
}
.signUpLink
{
    color : rgb(61,61,219) !important;
} */
#edit_button
{
    border: none;
    border-radius: 0px;
    background: rgb(238, 82, 108);
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px 21px;
    box-shadow: 0px 2px 5px #d48383;
}
#save_button
{
    border: none;
    border-radius: 0px;
    background: rgb(238, 82, 108);
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px 21px;
    box-shadow: 0px 2px 5px #d48383;
    display: none;
}
#like_button
{
    border: none;
    position: relative;
    border-radius: 2px;
    background: rgb(238, 82, 108);
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px 28px;
    box-shadow: 0px 2px 5px #d48383;
}
#comment_button
{
    border: none;
    position: absolute;
    border-radius: 0%;
    background: rgb(238, 82, 108);
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px 28px;
    box-shadow: 0px 2px 5px #d48383;
    margin-top: 10px;
}
.like_text
{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 11px;
    margin-top: 15px;
    font-weight: bold;
}
#comment_box
{
    font-size: 11px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
#all_comments_text
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
#all_comment_box
{
    background:#E3E4E6;
    min-height: 20px;
    border: none;
    border-radius: 0%;
    margin-bottom: 20px;
    padding: 10px;
    width: 61.8%;
}
.comments
{
    background: white;
    border: none;
    border-radius: 0%;
    margin: 10px;
    padding: 13px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
@media (max-width: 1123px) 
{  
    #comment_box
    {
        width: 62%;
    }
}
.post
{
    color: black;
}